/0_abalone_0.png
/0_abalone_10.png
/0_abalone_11.png
/0_abalone_12.png
/0_abalone_13.png
/0_abalone_14.png
/0_abalone_15.png
/0_abalone_16.png
/0_abalone_17.png
/0_abalone_18.png
/0_abalone_19.png
/0_abalone_1.png
/0_abalone_2.png
/0_abalone_3.png
/0_abalone_4.png
/0_abalone_5.png
/0_abalone_6.png
/0_abalone_7.png
/0_abalone_8.png
/0_abalone_9.png
/100_plant-margin_0.png
/100_plant-margin_1.png
/100_plant-margin_2.png
/100_plant-margin_3.png
/100_plant-margin_4.png
/100_plant-margin_5.png
/100_plant-margin_6.png
/100_plant-margin_7.png
/100_plant-margin_8.png
/100_plant-margin_9.png
/101_plant-shape_0.png
/101_plant-shape_1.png
/101_plant-shape_2.png
/101_plant-shape_3.png
/101_plant-shape_4.png
/101_plant-shape_5.png
/101_plant-shape_6.png
/101_plant-shape_7.png
/101_plant-shape_8.png
/101_plant-shape_9.png
/102_plant-texture_0.png
/102_plant-texture_1.png
/102_plant-texture_2.png
/102_plant-texture_3.png
/102_plant-texture_4.png
/102_plant-texture_5.png
/102_plant-texture_6.png
/102_plant-texture_7.png
/102_plant-texture_8.png
/102_plant-texture_9.png
/105_post-operative_0.png
/105_post-operative_1.png
/105_post-operative_2.png
/105_post-operative_3.png
/105_post-operative_4.png
/105_post-operative_5.png
/105_post-operative_6.png
/105_post-operative_7.png
/105_post-operative_8.png
/105_post-operative_9.png
/10_arrhythmia_0.png
/10_arrhythmia_1.png
/10_arrhythmia_2.png
/10_arrhythmia_3.png
/10_arrhythmia_4.png
/10_arrhythmia_5.png
/10_arrhythmia_6.png
/10_arrhythmia_7.png
/10_arrhythmia_8.png
/10_arrhythmia_9.png
/111_seeds_0.png
/111_seeds_1.png
/111_seeds_2.png
/111_seeds_3.png
/111_seeds_4.png
/111_seeds_5.png
/111_seeds_6.png
/111_seeds_7.png
/111_seeds_8.png
/111_seeds_9.png
/112_semeion_0.png
/112_semeion_1.png
/112_semeion_2.png
/112_semeion_3.png
/112_semeion_4.png
/112_semeion_5.png
/112_semeion_6.png
/112_semeion_7.png
/112_semeion_8.png
/112_semeion_9.png
/116_soybean_0.png
/116_soybean_1.png
/116_soybean_2.png
/116_soybean_3.png
/116_soybean_4.png
/116_soybean_5.png
/116_soybean_6.png
/116_soybean_7.png
/116_soybean_8.png
/116_soybean_9.png
/117_spambase_0.png
/117_spambase_1.png
/117_spambase_2.png
/117_spambase_3.png
/117_spambase_4.png
/117_spambase_5.png
/117_spambase_6.png
/117_spambase_7.png
/117_spambase_8.png
/117_spambase_9.png
/118_spect_0.png
/118_spect_1.png
/118_spect_2.png
/118_spect_3.png
/118_spect_4.png
/118_spect_5.png
/118_spect_6.png
/118_spect_7.png
/118_spect_8.png
/118_spect_9.png
/119_spectf_0.png
/119_spectf_1.png
/119_spectf_2.png
/119_spectf_3.png
/119_spectf_4.png
/119_spectf_5.png
/119_spectf_6.png
/119_spectf_7.png
/119_spectf_8.png
/119_spectf_9.png
/11_audiology-std_0.png
/11_audiology-std_1.png
/11_audiology-std_2.png
/11_audiology-std_3.png
/11_audiology-std_4.png
/11_audiology-std_5.png
/11_audiology-std_6.png
/11_audiology-std_7.png
/11_audiology-std_8.png
/11_audiology-std_9.png
/122_statlog-australian-credit_0.png
/122_statlog-australian-credit_1.png
/122_statlog-australian-credit_2.png
/122_statlog-australian-credit_3.png
/122_statlog-australian-credit_4.png
/122_statlog-australian-credit_5.png
/122_statlog-australian-credit_6.png
/122_statlog-australian-credit_7.png
/122_statlog-australian-credit_8.png
/122_statlog-australian-credit_9.png
/123_statlog-german-credit_0.png
/123_statlog-german-credit_1.png
/123_statlog-german-credit_2.png
/123_statlog-german-credit_3.png
/123_statlog-german-credit_4.png
/123_statlog-german-credit_5.png
/123_statlog-german-credit_6.png
/123_statlog-german-credit_7.png
/123_statlog-german-credit_8.png
/123_statlog-german-credit_9.png
/124_statlog-heart_0.png
/124_statlog-heart_1.png
/124_statlog-heart_2.png
/124_statlog-heart_3.png
/124_statlog-heart_4.png
/124_statlog-heart_5.png
/124_statlog-heart_6.png
/124_statlog-heart_7.png
/124_statlog-heart_8.png
/124_statlog-heart_9.png
/125_statlog-image_0.png
/125_statlog-image_1.png
/125_statlog-image_2.png
/125_statlog-image_3.png
/125_statlog-image_4.png
/125_statlog-image_5.png
/125_statlog-image_6.png
/125_statlog-image_7.png
/125_statlog-image_8.png
/125_statlog-image_9.png
/126_statlog-vehicle_0.png
/126_statlog-vehicle_1.png
/126_statlog-vehicle_2.png
/126_statlog-vehicle_3.png
/126_statlog-vehicle_4.png
/126_statlog-vehicle_5.png
/126_statlog-vehicle_6.png
/126_statlog-vehicle_7.png
/126_statlog-vehicle_8.png
/126_statlog-vehicle_9.png
/127_steel-plates_0.png
/127_steel-plates_1.png
/127_steel-plates_2.png
/127_steel-plates_3.png
/127_steel-plates_4.png
/127_steel-plates_5.png
/127_steel-plates_6.png
/127_steel-plates_7.png
/127_steel-plates_8.png
/127_steel-plates_9.png
/128_synthetic-control_0.png
/128_synthetic-control_1.png
/128_synthetic-control_2.png
/128_synthetic-control_3.png
/128_synthetic-control_4.png
/128_synthetic-control_5.png
/128_synthetic-control_6.png
/128_synthetic-control_7.png
/128_synthetic-control_8.png
/128_synthetic-control_9.png
/130_teaching_0.png
/130_teaching_1.png
/130_teaching_2.png
/130_teaching_3.png
/130_teaching_4.png
/130_teaching_5.png
/130_teaching_6.png
/130_teaching_7.png
/130_teaching_8.png
/130_teaching_9.png
/132_tic-tac-toe_0.png
/132_tic-tac-toe_1.png
/132_tic-tac-toe_2.png
/132_tic-tac-toe_3.png
/132_tic-tac-toe_4.png
/132_tic-tac-toe_5.png
/132_tic-tac-toe_6.png
/132_tic-tac-toe_7.png
/132_tic-tac-toe_8.png
/132_tic-tac-toe_9.png
/133_titanic_0.png
/133_titanic_1.png
/133_titanic_2.png
/133_titanic_3.png
/133_titanic_4.png
/133_titanic_5.png
/133_titanic_6.png
/133_titanic_7.png
/133_titanic_8.png
/133_titanic_9.png
/136_vertebral-column-2clases_0.png
/136_vertebral-column-2clases_1.png
/136_vertebral-column-2clases_2.png
/136_vertebral-column-2clases_3.png
/136_vertebral-column-2clases_4.png
/136_vertebral-column-2clases_5.png
/136_vertebral-column-2clases_6.png
/136_vertebral-column-2clases_7.png
/136_vertebral-column-2clases_8.png
/136_vertebral-column-2clases_9.png
/137_vertebral-column-3clases_0.png
/137_vertebral-column-3clases_1.png
/137_vertebral-column-3clases_2.png
/137_vertebral-column-3clases_3.png
/137_vertebral-column-3clases_4.png
/137_vertebral-column-3clases_5.png
/137_vertebral-column-3clases_6.png
/137_vertebral-column-3clases_7.png
/137_vertebral-column-3clases_8.png
/137_vertebral-column-3clases_9.png
/13_balance-scale_0.png
/13_balance-scale_1.png
/13_balance-scale_2.png
/13_balance-scale_3.png
/13_balance-scale_4.png
/13_balance-scale_5.png
/13_balance-scale_6.png
/13_balance-scale_7.png
/13_balance-scale_8.png
/13_balance-scale_9.png
/141_wall-following_0.png
/141_wall-following_1.png
/141_wall-following_2.png
/141_wall-following_3.png
/141_wall-following_4.png
/141_wall-following_5.png
/141_wall-following_6.png
/141_wall-following_7.png
/141_wall-following_8.png
/141_wall-following_9.png
/142_waveform_0.png
/142_waveform_1.png
/142_waveform_2.png
/142_waveform_3.png
/142_waveform_4.png
/142_waveform_5.png
/142_waveform_6.png
/142_waveform_7.png
/142_waveform_8.png
/142_waveform_9.png
/143_waveform-noise_0.png
/143_waveform-noise_1.png
/143_waveform-noise_2.png
/143_waveform-noise_3.png
/143_waveform-noise_4.png
/143_waveform-noise_5.png
/143_waveform-noise_6.png
/143_waveform-noise_7.png
/143_waveform-noise_8.png
/143_waveform-noise_9.png
/145_wine_0.png
/145_wine_1.png
/145_wine_2.png
/145_wine_3.png
/145_wine_4.png
/145_wine_5.png
/145_wine_6.png
/145_wine_7.png
/145_wine_8.png
/145_wine_9.png
/146_wine-quality-red_0.png
/146_wine-quality-red_1.png
/146_wine-quality-red_2.png
/146_wine-quality-red_3.png
/146_wine-quality-red_4.png
/146_wine-quality-red_5.png
/146_wine-quality-red_6.png
/146_wine-quality-red_7.png
/146_wine-quality-red_8.png
/146_wine-quality-red_9.png
/147_wine-quality-white_0.png
/147_wine-quality-white_1.png
/147_wine-quality-white_2.png
/147_wine-quality-white_3.png
/147_wine-quality-white_4.png
/147_wine-quality-white_5.png
/147_wine-quality-white_6.png
/147_wine-quality-white_7.png
/147_wine-quality-white_8.png
/147_wine-quality-white_9.png
/148_yeast_0.png
/148_yeast_1.png
/148_yeast_2.png
/148_yeast_3.png
/148_yeast_4.png
/148_yeast_5.png
/148_yeast_6.png
/148_yeast_7.png
/148_yeast_8.png
/148_yeast_9.png
/149_zoo_0.png
/149_zoo_1.png
/149_zoo_2.png
/149_zoo_3.png
/149_zoo_4.png
/149_zoo_5.png
/149_zoo_6.png
/149_zoo_7.png
/149_zoo_8.png
/149_zoo_9.png
/14_bank_0.png
/14_bank_1.png
/14_bank_2.png
/14_bank_3.png
/14_bank_4.png
/14_bank_5.png
/14_bank_6.png
/14_bank_7.png
/14_bank_8.png
/14_bank_9.png
/16_blood_0.png
/16_blood_1.png
/16_blood_2.png
/16_blood_3.png
/16_blood_4.png
/16_blood_5.png
/16_blood_6.png
/16_blood_7.png
/16_blood_8.png
/16_blood_9.png
/19_breast-cancer_0.png
/19_breast-cancer_1.png
/19_breast-cancer_2.png
/19_breast-cancer_3.png
/19_breast-cancer_4.png
/19_breast-cancer_5.png
/19_breast-cancer_6.png
/19_breast-cancer_7.png
/19_breast-cancer_8.png
/19_breast-cancer_9.png
/1_acute-inflammation_0.png
/1_acute-inflammation_10.png
/1_acute-inflammation_11.png
/1_acute-inflammation_12.png
/1_acute-inflammation_13.png
/1_acute-inflammation_14.png
/1_acute-inflammation_15.png
/1_acute-inflammation_16.png
/1_acute-inflammation_17.png
/1_acute-inflammation_18.png
/1_acute-inflammation_19.png
/1_acute-inflammation_1.png
/1_acute-inflammation_2.png
/1_acute-inflammation_3.png
/1_acute-inflammation_4.png
/1_acute-inflammation_5.png
/1_acute-inflammation_6.png
/1_acute-inflammation_7.png
/1_acute-inflammation_8.png
/1_acute-inflammation_9.png
/20_breast-cancer-wisc_0.png
/20_breast-cancer-wisc_1.png
/20_breast-cancer-wisc_2.png
/20_breast-cancer-wisc_3.png
/20_breast-cancer-wisc_4.png
/20_breast-cancer-wisc_5.png
/20_breast-cancer-wisc_6.png
/20_breast-cancer-wisc_7.png
/20_breast-cancer-wisc_8.png
/20_breast-cancer-wisc_9.png
/21_breast-cancer-wisc-diag_0.png
/21_breast-cancer-wisc-diag_1.png
/21_breast-cancer-wisc-diag_2.png
/21_breast-cancer-wisc-diag_3.png
/21_breast-cancer-wisc-diag_4.png
/21_breast-cancer-wisc-diag_5.png
/21_breast-cancer-wisc-diag_6.png
/21_breast-cancer-wisc-diag_7.png
/21_breast-cancer-wisc-diag_8.png
/21_breast-cancer-wisc-diag_9.png
/22_breast-cancer-wisc-prog_0.png
/22_breast-cancer-wisc-prog_1.png
/22_breast-cancer-wisc-prog_2.png
/22_breast-cancer-wisc-prog_3.png
/22_breast-cancer-wisc-prog_4.png
/22_breast-cancer-wisc-prog_5.png
/22_breast-cancer-wisc-prog_6.png
/22_breast-cancer-wisc-prog_7.png
/22_breast-cancer-wisc-prog_8.png
/22_breast-cancer-wisc-prog_9.png
/23_breast-tissue_0.png
/23_breast-tissue_1.png
/23_breast-tissue_2.png
/23_breast-tissue_3.png
/23_breast-tissue_4.png
/23_breast-tissue_5.png
/23_breast-tissue_6.png
/23_breast-tissue_7.png
/23_breast-tissue_8.png
/23_breast-tissue_9.png
/24_car_0.png
/24_car_1.png
/24_car_2.png
/24_car_3.png
/24_car_4.png
/24_car_5.png
/24_car_6.png
/24_car_7.png
/24_car_8.png
/24_car_9.png
/25_cardiotocography-10clases_0.png
/25_cardiotocography-10clases_1.png
/25_cardiotocography-10clases_2.png
/25_cardiotocography-10clases_3.png
/25_cardiotocography-10clases_4.png
/25_cardiotocography-10clases_5.png
/25_cardiotocography-10clases_6.png
/25_cardiotocography-10clases_7.png
/25_cardiotocography-10clases_8.png
/25_cardiotocography-10clases_9.png
/26_cardiotocography-3clases_0.png
/26_cardiotocography-3clases_1.png
/26_cardiotocography-3clases_2.png
/26_cardiotocography-3clases_3.png
/26_cardiotocography-3clases_4.png
/26_cardiotocography-3clases_5.png
/26_cardiotocography-3clases_6.png
/26_cardiotocography-3clases_7.png
/26_cardiotocography-3clases_8.png
/26_cardiotocography-3clases_9.png
/28_chess-krvkp_0.png
/28_chess-krvkp_1.png
/28_chess-krvkp_2.png
/28_chess-krvkp_3.png
/28_chess-krvkp_4.png
/28_chess-krvkp_5.png
/28_chess-krvkp_6.png
/28_chess-krvkp_7.png
/28_chess-krvkp_8.png
/28_chess-krvkp_9.png
/2_acute-nephritis_0.png
/2_acute-nephritis_10.png
/2_acute-nephritis_11.png
/2_acute-nephritis_12.png
/2_acute-nephritis_13.png
/2_acute-nephritis_14.png
/2_acute-nephritis_15.png
/2_acute-nephritis_16.png
/2_acute-nephritis_17.png
/2_acute-nephritis_18.png
/2_acute-nephritis_19.png
/2_acute-nephritis_1.png
/2_acute-nephritis_2.png
/2_acute-nephritis_3.png
/2_acute-nephritis_4.png
/2_acute-nephritis_5.png
/2_acute-nephritis_6.png
/2_acute-nephritis_7.png
/2_acute-nephritis_8.png
/2_acute-nephritis_9.png
/31_congressional-voting_0.png
/31_congressional-voting_1.png
/31_congressional-voting_2.png
/31_congressional-voting_3.png
/31_congressional-voting_4.png
/31_congressional-voting_5.png
/31_congressional-voting_6.png
/31_congressional-voting_7.png
/31_congressional-voting_8.png
/31_congressional-voting_9.png
/32_conn-bench-sonar-mines-rocks_0.png
/32_conn-bench-sonar-mines-rocks_1.png
/32_conn-bench-sonar-mines-rocks_2.png
/32_conn-bench-sonar-mines-rocks_3.png
/32_conn-bench-sonar-mines-rocks_4.png
/32_conn-bench-sonar-mines-rocks_5.png
/32_conn-bench-sonar-mines-rocks_6.png
/32_conn-bench-sonar-mines-rocks_7.png
/32_conn-bench-sonar-mines-rocks_8.png
/32_conn-bench-sonar-mines-rocks_9.png
/33_conn-bench-vowel-deterding_0.png
/33_conn-bench-vowel-deterding_1.png
/33_conn-bench-vowel-deterding_2.png
/33_conn-bench-vowel-deterding_3.png
/33_conn-bench-vowel-deterding_4.png
/33_conn-bench-vowel-deterding_5.png
/33_conn-bench-vowel-deterding_6.png
/33_conn-bench-vowel-deterding_7.png
/33_conn-bench-vowel-deterding_8.png
/33_conn-bench-vowel-deterding_9.png
/34_contrac_0.png
/34_contrac_1.png
/34_contrac_2.png
/34_contrac_3.png
/34_contrac_4.png
/34_contrac_5.png
/34_contrac_6.png
/34_contrac_7.png 
/34_contrac_8.png
/34_contrac_9.png
/35_credit-approval_0.png
/35_credit-approval_1.png
/35_credit-approval_2.png
/35_credit-approval_3.png
/35_credit-approval_4.png
/35_credit-approval_5.png
/35_credit-approval_6.png
/35_credit-approval_7.png
/35_credit-approval_8.png
/35_credit-approval_9.png
/36_cylinder-bands_0.png
/36_cylinder-bands_1.png
/36_cylinder-bands_2.png
/36_cylinder-bands_3.png
/36_cylinder-bands_4.png
/36_cylinder-bands_5.png
/36_cylinder-bands_6.png
/36_cylinder-bands_7.png
/36_cylinder-bands_8.png
/36_cylinder-bands_9.png
/37_dermatology_0.png
/37_dermatology_1.png
/37_dermatology_2.png
/37_dermatology_3.png
/37_dermatology_4.png
/37_dermatology_5.png
/37_dermatology_6.png
/37_dermatology_7.png
/37_dermatology_8.png
/37_dermatology_9.png
/41_echocardiogram_0.png
/41_echocardiogram_1.png
/41_echocardiogram_2.png
/41_echocardiogram_3.png
/41_echocardiogram_4.png
/41_echocardiogram_5.png
/41_echocardiogram_6.png
/41_echocardiogram_7.png
/41_echocardiogram_8.png
/41_echocardiogram_9.png
/42_ecoli_0.png
/42_ecoli_1.png
/42_ecoli_2.png
/42_ecoli_3.png
/42_ecoli_4.png
/42_ecoli_5.png
/42_ecoli_6.png
/42_ecoli_7.png
/42_ecoli_8.png
/42_ecoli_9.png
/44_energy-y1_0.png
/44_energy-y1_1.png
/44_energy-y1_2.png
/44_energy-y1_3.png
/44_energy-y1_4.png
/44_energy-y1_5.png
/44_energy-y1_6.png
/44_energy-y1_7.png
/44_energy-y1_8.png
/44_energy-y1_9.png
/45_energy-y2_0.png
/45_energy-y2_1.png
/45_energy-y2_2.png
/45_energy-y2_3.png
/45_energy-y2_4.png
/45_energy-y2_5.png
/45_energy-y2_6.png
/45_energy-y2_7.png
/45_energy-y2_8.png
/45_energy-y2_9.png
/46_fertility_0.png
/46_fertility_1.png
/46_fertility_2.png
/46_fertility_3.png
/46_fertility_4.png
/46_fertility_5.png
/46_fertility_6.png
/46_fertility_7.png
/46_fertility_8.png
/46_fertility_9.png
/47_flags_0.png
/47_flags_1.png
/47_flags_2.png
/47_flags_3.png
/47_flags_4.png
/47_flags_5.png
/47_flags_6.png
/47_flags_7.png
/47_flags_8.png
/47_flags_9.png
/49_glass_0.png
/49_glass_1.png
/49_glass_2.png
/49_glass_3.png
/49_glass_4.png
/49_glass_5.png
/49_glass_6.png
/49_glass_7.png
/49_glass_8.png
/49_glass_9.png
/50_haberman-survival_0.png
/50_haberman-survival_1.png
/50_haberman-survival_2.png
/50_haberman-survival_3.png
/50_haberman-survival_4.png
/50_haberman-survival_5.png
/50_haberman-survival_6.png
/50_haberman-survival_7.png
/50_haberman-survival_8.png
/50_haberman-survival_9.png
/51_hayes-roth_0.png
/51_hayes-roth_1.png
/51_hayes-roth_2.png
/51_hayes-roth_3.png
/51_hayes-roth_4.png
/51_hayes-roth_5.png
/51_hayes-roth_6.png
/51_hayes-roth_7.png
/51_hayes-roth_8.png
/51_hayes-roth_9.png
/52_heart-cleveland_0.png
/52_heart-cleveland_1.png
/52_heart-cleveland_2.png
/52_heart-cleveland_3.png
/52_heart-cleveland_4.png
/52_heart-cleveland_5.png
/52_heart-cleveland_6.png
/52_heart-cleveland_7.png
/52_heart-cleveland_8.png
/52_heart-cleveland_9.png
/53_heart-hungarian_0.png
/53_heart-hungarian_1.png
/53_heart-hungarian_2.png
/53_heart-hungarian_3.png
/53_heart-hungarian_4.png
/53_heart-hungarian_5.png
/53_heart-hungarian_6.png
/53_heart-hungarian_7.png
/53_heart-hungarian_8.png
/53_heart-hungarian_9.png
/54_heart-switzerland_0.png
/54_heart-switzerland_1.png
/54_heart-switzerland_2.png
/54_heart-switzerland_3.png
/54_heart-switzerland_4.png
/54_heart-switzerland_5.png
/54_heart-switzerland_6.png
/54_heart-switzerland_7.png
/54_heart-switzerland_8.png
/54_heart-switzerland_9.png
/55_heart-va_0.png
/55_heart-va_1.png
/55_heart-va_2.png
/55_heart-va_3.png
/55_heart-va_4.png
/55_heart-va_5.png
/55_heart-va_6.png
/55_heart-va_7.png
/55_heart-va_8.png
/55_heart-va_9.png
/56_hepatitis_0.png
/56_hepatitis_1.png
/56_hepatitis_2.png
/56_hepatitis_3.png
/56_hepatitis_4.png
/56_hepatitis_5.png
/56_hepatitis_6.png
/56_hepatitis_7.png
/56_hepatitis_8.png
/56_hepatitis_9.png
/57_hill-valley_0.png
/57_hill-valley_1.png
/57_hill-valley_2.png
/57_hill-valley_3.png
/57_hill-valley_4.png
/57_hill-valley_5.png
/57_hill-valley_6.png
/57_hill-valley_7.png
/57_hill-valley_8.png
/57_hill-valley_9.png
/58_horse-colic_0.png
/58_horse-colic_1.png
/58_horse-colic_2.png
/58_horse-colic_3.png
/58_horse-colic_4.png
/58_horse-colic_5.png
/58_horse-colic_6.png
/58_horse-colic_7.png
/58_horse-colic_8.png
/58_horse-colic_9.png
/59_ilpd-indian-liver_0.png
/59_ilpd-indian-liver_1.png
/59_ilpd-indian-liver_2.png
/59_ilpd-indian-liver_3.png
/59_ilpd-indian-liver_4.png
/59_ilpd-indian-liver_5.png
/59_ilpd-indian-liver_6.png
/59_ilpd-indian-liver_7.png
/59_ilpd-indian-liver_8.png
/59_ilpd-indian-liver_9.png
/60_image-segmentation_0.png
/60_image-segmentation_1.png
/60_image-segmentation_2.png
/60_image-segmentation_3.png
/60_image-segmentation_4.png
/60_image-segmentation_5.png
/60_image-segmentation_6.png
/60_image-segmentation_7.png
/60_image-segmentation_8.png
/60_image-segmentation_9.png
/61_ionosphere_0.png
/61_ionosphere_1.png
/61_ionosphere_2.png
/61_ionosphere_3.png
/61_ionosphere_4.png
/61_ionosphere_5.png
/61_ionosphere_6.png
/61_ionosphere_7.png
/61_ionosphere_8.png
/61_ionosphere_9.png
/62_iris_0.png
/62_iris_1.png
/62_iris_2.png
/62_iris_3.png
/62_iris_4.png
/62_iris_5.png
/62_iris_6.png
/62_iris_7.png
/62_iris_8.png
/62_iris_9.png
/66_led-display_0.png
/66_led-display_1.png
/66_led-display_2.png
/66_led-display_3.png
/66_led-display_4.png
/66_led-display_5.png
/66_led-display_6.png
/66_led-display_7.png
/66_led-display_8.png
/66_led-display_9.png
/67_lenses_0.png
/67_lenses_1.png
/67_lenses_2.png
/67_lenses_3.png
/67_lenses_4.png
/67_lenses_5.png
/67_lenses_6.png
/67_lenses_7.png
/67_lenses_8.png
/67_lenses_9.png
/68_libras_0.png
/68_libras_1.png
/68_libras_2.png
/68_libras_3.png
/68_libras_4.png
/68_libras_5.png
/68_libras_6.png
/68_libras_7.png
/68_libras_8.png
/68_libras_9.png
/69_low-res-spect_0.png
/69_low-res-spect_1.png
/69_low-res-spect_2.png
/69_low-res-spect_3.png
/69_low-res-spect_4.png
/69_low-res-spect_5.png
/69_low-res-spect_6.png
/69_low-res-spect_7.png
/69_low-res-spect_8.png
/69_low-res-spect_9.png
/71_lung-cancer_0.png
/71_lung-cancer_1.png
/71_lung-cancer_2.png
/71_lung-cancer_3.png
/71_lung-cancer_4.png
/71_lung-cancer_5.png
/71_lung-cancer_6.png
/71_lung-cancer_7.png
/71_lung-cancer_8.png
/71_lung-cancer_9.png
/73_lymphography_0.png
/73_lymphography_1.png
/73_lymphography_2.png
/73_lymphography_3.png
/73_lymphography_4.png
/73_lymphography_5.png
/73_lymphography_6.png
/73_lymphography_7.png
/73_lymphography_8.png
/73_lymphography_9.png
/74_mammographic_0.png
/74_mammographic_1.png
/74_mammographic_2.png
/74_mammographic_3.png
/74_mammographic_4.png
/74_mammographic_5.png
/74_mammographic_6.png
/74_mammographic_7.png
/74_mammographic_8.png
/74_mammographic_9.png
/78_molec-biol-promoter_0.png
/78_molec-biol-promoter_1.png
/78_molec-biol-promoter_2.png
/78_molec-biol-promoter_3.png
/78_molec-biol-promoter_4.png
/78_molec-biol-promoter_5.png
/78_molec-biol-promoter_6.png
/78_molec-biol-promoter_7.png
/78_molec-biol-promoter_8.png
/78_molec-biol-promoter_9.png
/79_molec-biol-splice_0.png
/79_molec-biol-splice_1.png
/79_molec-biol-splice_2.png
/79_molec-biol-splice_3.png
/79_molec-biol-splice_4.png
/79_molec-biol-splice_5.png
/79_molec-biol-splice_6.png
/79_molec-biol-splice_7.png
/79_molec-biol-splice_8.png
/79_molec-biol-splice_9.png
/80_monks-1_0.png
/80_monks-1_1.png
/80_monks-1_2.png
/80_monks-1_3.png
/80_monks-1_4.png
/80_monks-1_5.png
/80_monks-1_6.png
/80_monks-1_7.png
/80_monks-1_8.png
/80_monks-1_9.png
/81_monks-2_0.png
/81_monks-2_1.png
/81_monks-2_2.png
/81_monks-2_3.png
/81_monks-2_4.png
/81_monks-2_5.png
/81_monks-2_6.png
/81_monks-2_7.png
/81_monks-2_8.png
/81_monks-2_9.png
/82_monks-3_0.png
/82_monks-3_1.png
/82_monks-3_2.png
/82_monks-3_3.png
/82_monks-3_4.png
/82_monks-3_5.png
/82_monks-3_6.png
/82_monks-3_7.png
/82_monks-3_8.png
/82_monks-3_9.png
/83_mushroom_0.png
/83_mushroom_1.png
/83_mushroom_2.png
/83_mushroom_3.png
/83_mushroom_4.png
/83_mushroom_5.png
/83_mushroom_6.png
/83_mushroom_7.png
/83_mushroom_8.png
/83_mushroom_9.png
/84_musk-1_0.png
/84_musk-1_1.png
/84_musk-1_2.png
/84_musk-1_3.png
/84_musk-1_4.png
/84_musk-1_5.png
/84_musk-1_6.png
/84_musk-1_7.png
/84_musk-1_8.png
/84_musk-1_9.png
/87_oocytes_merluccius_nucleus_4d_0.png
/87_oocytes_merluccius_nucleus_4d_1.png
/87_oocytes_merluccius_nucleus_4d_2.png
/87_oocytes_merluccius_nucleus_4d_3.png
/87_oocytes_merluccius_nucleus_4d_4.png
/87_oocytes_merluccius_nucleus_4d_5.png
/87_oocytes_merluccius_nucleus_4d_6.png
/87_oocytes_merluccius_nucleus_4d_7.png
/87_oocytes_merluccius_nucleus_4d_8.png
/87_oocytes_merluccius_nucleus_4d_9.png
/88_oocytes_merluccius_states_2f_0.png
/88_oocytes_merluccius_states_2f_1.png
/88_oocytes_merluccius_states_2f_2.png
/88_oocytes_merluccius_states_2f_3.png
/88_oocytes_merluccius_states_2f_4.png
/88_oocytes_merluccius_states_2f_5.png
/88_oocytes_merluccius_states_2f_6.png
/88_oocytes_merluccius_states_2f_7.png
/88_oocytes_merluccius_states_2f_8.png
/88_oocytes_merluccius_states_2f_9.png
/89_oocytes_trisopterus_nucleus_2f_0.png
/89_oocytes_trisopterus_nucleus_2f_1.png
/89_oocytes_trisopterus_nucleus_2f_2.png
/89_oocytes_trisopterus_nucleus_2f_3.png
/89_oocytes_trisopterus_nucleus_2f_4.png
/89_oocytes_trisopterus_nucleus_2f_5.png
/89_oocytes_trisopterus_nucleus_2f_6.png
/89_oocytes_trisopterus_nucleus_2f_7.png
/89_oocytes_trisopterus_nucleus_2f_8.png
/89_oocytes_trisopterus_nucleus_2f_9.png
/8_annealing_0.png
/8_annealing_1.png
/8_annealing_2.png
/8_annealing_3.png
/8_annealing_4.png
/8_annealing_5.png
/8_annealing_6.png
/8_annealing_7.png
/8_annealing_8.png
/8_annealing_9.png
/90_oocytes_trisopterus_states_5b_0.png
/90_oocytes_trisopterus_states_5b_1.png
/90_oocytes_trisopterus_states_5b_2.png
/90_oocytes_trisopterus_states_5b_3.png
/90_oocytes_trisopterus_states_5b_4.png
/90_oocytes_trisopterus_states_5b_5.png
/90_oocytes_trisopterus_states_5b_6.png
/90_oocytes_trisopterus_states_5b_7.png
/90_oocytes_trisopterus_states_5b_8.png
/90_oocytes_trisopterus_states_5b_9.png
/91_ozone_0.png
/91_ozone_1.png
/91_ozone_2.png
/91_ozone_3.png
/91_ozone_4.png
/91_ozone_5.png
/91_ozone_6.png
/91_ozone_7.png
/91_ozone_8.png
/91_ozone_9.png
/92_parkinsons_0.png
/92_parkinsons_1.png
/92_parkinsons_2.png
/92_parkinsons_3.png
/92_parkinsons_4.png
/92_parkinsons_5.png
/92_parkinsons_6.png
/92_parkinsons_7.png
/92_parkinsons_8.png
/92_parkinsons_9.png
/93_pima_0.png
/93_pima_1.png
/93_pima_2.png
/93_pima_3.png
/93_pima_4.png
/93_pima_5.png
/93_pima_6.png
/93_pima_7.png
/93_pima_8.png
/93_pima_9.png
/94_pittsburg-bridges-MATERIAL_0.png
/94_pittsburg-bridges-MATERIAL_1.png
/94_pittsburg-bridges-MATERIAL_2.png
/94_pittsburg-bridges-MATERIAL_3.png
/94_pittsburg-bridges-MATERIAL_4.png
/94_pittsburg-bridges-MATERIAL_5.png
/94_pittsburg-bridges-MATERIAL_6.png
/94_pittsburg-bridges-MATERIAL_7.png
/94_pittsburg-bridges-MATERIAL_8.png
/94_pittsburg-bridges-MATERIAL_9.png
/95_pittsburg-bridges-REL-L_0.png
/95_pittsburg-bridges-REL-L_1.png
/95_pittsburg-bridges-REL-L_2.png
/95_pittsburg-bridges-REL-L_3.png
/95_pittsburg-bridges-REL-L_4.png
/95_pittsburg-bridges-REL-L_5.png
/95_pittsburg-bridges-REL-L_6.png
/95_pittsburg-bridges-REL-L_7.png
/95_pittsburg-bridges-REL-L_8.png
/95_pittsburg-bridges-REL-L_9.png
/96_pittsburg-bridges-SPAN_0.png
/96_pittsburg-bridges-SPAN_1.png
/96_pittsburg-bridges-SPAN_2.png
/96_pittsburg-bridges-SPAN_3.png
/96_pittsburg-bridges-SPAN_4.png
/96_pittsburg-bridges-SPAN_5.png
/96_pittsburg-bridges-SPAN_6.png
/96_pittsburg-bridges-SPAN_7.png
/96_pittsburg-bridges-SPAN_8.png
/96_pittsburg-bridges-SPAN_9.png
/97_pittsburg-bridges-T-OR-D_0.png
/97_pittsburg-bridges-T-OR-D_1.png
/97_pittsburg-bridges-T-OR-D_2.png
/97_pittsburg-bridges-T-OR-D_3.png
/97_pittsburg-bridges-T-OR-D_4.png
/97_pittsburg-bridges-T-OR-D_5.png
/97_pittsburg-bridges-T-OR-D_6.png
/97_pittsburg-bridges-T-OR-D_7.png
/97_pittsburg-bridges-T-OR-D_8.png
/97_pittsburg-bridges-T-OR-D_9.png
/98_pittsburg-bridges-TYPE_0.png
/98_pittsburg-bridges-TYPE_1.png
/98_pittsburg-bridges-TYPE_2.png
/98_pittsburg-bridges-TYPE_3.png
/98_pittsburg-bridges-TYPE_4.png
/98_pittsburg-bridges-TYPE_5.png
/98_pittsburg-bridges-TYPE_6.png
/98_pittsburg-bridges-TYPE_7.png
/98_pittsburg-bridges-TYPE_8.png
/98_pittsburg-bridges-TYPE_9.png
/99_planning_0.png
/99_planning_1.png
/99_planning_2.png
/99_planning_3.png
/99_planning_4.png
/99_planning_5.png
/99_planning_6.png
/99_planning_7.png
/99_planning_8.png
/99_planning_9.png
